<!DOCTYPE html>
<html lang="zh-TW">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- 提供 ico 檔案 -->
  <link rel="icon" href="../static/scissors.png">
  <!-- 引入 cdn CSS -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.7.11/c3.min.css">  
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <!-- 引入我們自己的 CSS -->
  <style> body {font-family: 'Noto Sans TC', sans-serif; background-image: url("../static/background.jpg")}</style>
  <title>NLP 期末作業</title>
</head>

<body>
<main>
  <div class="empty-horizontal-rect"><img src="../static/rect_50px.png"/></div>
  <div class="empty-horizontal-rect"><img src="../static/rect_50px.png"/></div>
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 offset-3 float-md-center">
    <div class="jumbotron">
      <h1 class="display-5"><p style="color: #404040; text-align: center;">NLP 期末作業</p></h1>
    </div>
  </div>
  <div class="empty-horizontal-rect"><img src="../static/rect_25px.png"/></div>
  <div class="container">
    <div class="row desc">
      <div class="col"></div>
      <div class="col">
        <form action="{{ url_for('handle_data') }}" method="post">
        <div class="input-group">
            <input class="form-control mr-sm-2" type="Input" placeholder="請輸入一個英文詞彙" name="query">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
        </div>  
        </form>
      </div>
      <div class="col"></div>
    </div>
  </div>
</main>
</body>

</html>